@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* This entire block is for themeing the site */

@theme {
	/* Background: Hard Dark (Deep Chocolate/Black) */
	--color-bg-main: #1d2021;

	/* Surface: Material Dark */
	--color-bg-surface: #32302f;

	/* Muted: Darker */
	--color-bg-muted: #141617;

	/* Brand: Forest Green */
	--color-brand: #a9b665;

	/* Brand Light: Aqua */
	--color-brand-light: #89b482;

	/* Brand Dark: Burnt Orange/Red */
	--color-brand-dark: #ea6962;

	/* Text: Milk White */
	--color-text-main: #d4be98;

	/* Text Muted: Grey-Brown */
	--color-text-muted: #7c6f64;

	--font-mono: "Fira Code";
}

/* I am working with a custom theme, this just sets the background to the theme background*/
body {
	background-color: var(--color-bg-main);
}

@utility prose-catppuccin {
	@apply prose prose-invert max-w-none;
	@apply prose-headings:text-brand prose-headings:font-bold;
	@apply prose-p:text-text-main prose-p:leading-relaxed;

	/* For hyperlinks, base default look */
	@apply prose-a:text-brand-light prose-a:underline prose-a:decoration-auto;
	/* Smooth transition for color swaps */
	@apply prose-a:transition-colors prose-a:duration-200 prose-a:ease-in-out;
	/* Slight padding with negative margin for a better-looking highlight box (suggested by Souvik) */
	@apply prose-a:rounded-sm prose-a:-mx-0.5 prose-a:px-0.5;

	/* For rendering code */
	:where(code):not(:where(pre code)) {
		@apply text-brand-light bg-bg-surface px-1 rounded;
		/*
			To ensure that the backticks which wrap the content don't bother us by showing up, because otherwise those backticks are also displayed in inline code
		*/
		@apply before:content-none after:content-none;
	}

	/* CODE BLOCKS:- We style the <pre> container, not the code text inside */
	@apply prose-pre:bg-bg-surface prose-pre:border prose-pre:border-text-muted prose-pre:text-sm;
	
	/* Ensure the copy button fits nicely */
	@apply prose-pre:relative;

	/* Just for bold, yes */
	@apply prose-strong:text-brand-light;

	@apply prose-table:w-full prose-table:border-collapse prose-table:border prose-table:border-text-muted;
	@apply prose-th:border prose-th:border-text-muted prose-th:bg-bg-surface/50 prose-th:p-2;
	@apply prose-td:border prose-td:border-text-muted prose-td:p-2;

	/* Table Styling: Alternating Rows */
	@apply prose-tr:even:bg-bg-muted;

	/* Overriding the default 'text-align: left' imposed by prose by explicitly respecting the align attribute generated by Markdown. */
	td[align="center"] {
		text-align: center;
	}
	td[align="right"] {
		text-align: right;
	}

	/* Table headings being centered is always sexy */
	th {
		text-align: center !important;
	}

}

.prose-catppuccin a:hover {
	/* Background becomes the bright brand color */
	background-color: var(--color-brand-light);
	/* Text becomes dark for readability against the bright background */
	color: var(--color-bg-main);
	/* Remove the underline on hover for a nice look */
	text-decoration: none;
}

code, pre {
	font-variant-ligatures: normal;
}

/* --- LaTeX in Markdown --- */
/* This one is only for helping mobile users read long asf LaTeX stuff */
.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* Fixing for callout */
/* So basically when we open a collapsible callout, the scrollbar may just randomly be like: OMAI WA BING CHILLING LET'S SPAWNNNN (might not have needed a scrollbar on the page previously)
	and may cause it to kinda look like jittering, i.e. "looks" like the content moves a bit when we open the details thingy */
html {
	scrollbar-gutter: stable;
}