---
console.log("Does this run when the about page is loaded, or does this run when the about page is built/rendered? It runs when the file is run, wow")
const pageTitle = "About Who? Me";
const goal = 3
const skillColour = "green"; // this is a CSS variable!
---

<html>
    <head>
        <title>{pageTitle}</title>
        <style>
            .skill {
                color: var(--skillColour),
            }
        </style>
    </head>
    <p> Shankha is a loser. </p>
    {goal === 3 ? <p>"The goal is 3"</p> : <p>"The goal ain't 3"</p>}
    {goal === 3 && <p>"This is only rendered if the goal is 3"</p>}
    <a href="/">Home</a>
</html>