---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialButton from "../components/SocialButton.astro";
import { Image } from "astro:assets";

// Importing the raw SVGs for the icons
import githubIcon from "../assets/images/socialIcons/github.svg?raw"
import linkedInIcon from "../assets/images/socialIcons/linkedin.svg?raw"
import lichessIcon from "../assets/images/socialIcons/lichess.svg?raw"
import chessComIcon from "../assets/images/socialIcons/chessCom.svg?raw"
import codeforcesIcon from "../assets/images/socialIcons/codeforces.svg?raw"
import leetcodeIcon from "../assets/images/socialIcons/leetcode.svg?raw"
import youtubeIcon from "../assets/images/socialIcons/youtube.svg?raw"

// setting the socialData
const socialData = [
	{
		label: "GitHub",
		icon: githubIcon,
		link: "https://github.com/SpiderMath/",
	},
	{
		label: "LinkedIn",
		icon: linkedInIcon,
		link: "https://linkedin.com/in/thedefectivedetective/",
	},
	{
		label: "LeetCode",
		icon: leetcodeIcon,
		link: "https://leetcode.com/u/rishimath/",
	},
	{
		label: "Lichess",
		icon: lichessIcon,
		link: "https://lichess.org/@/RishiMath/",
	},
	{
		label: "Chess.com",
		icon: chessComIcon,
		link: "https://chess.com/member/RishiMath/",
	},
	{
		label: "CodeForces",
		icon: codeforcesIcon,
		link: "https://codeforces.com/profile/rishimath",
	},
	{
		label: "YouTube",
		icon: youtubeIcon,
		link: "https://youtube.com/@thedefectivedetective/",
	}
];
---

<BaseLayout
	title="Shankha Suvra Dam"
	description="Welcome to Shankha Suvra Dam's personal website!"
	image="/favicon_custom.svg" >
	<main class="flex min-h-[80vh] flex-col items-center justify-center p-4 text-center">
		<div class="relative mb-6">
			<Image
				loading="eager"
				src="/images/face.jpg"
				alt="Profile"
				height=80
				width=80
				class="h-80 w-80 rounded-full border-4 border-brand object-cover shadow-xl"
			/>
		</div>

		<h1 class="mb-2 text-5xl font-bold tracking-tight text-brand">
			Shankha Suvra Dam
		</h1>

		<p class="mb-8 text-xl font-medium text-text-muted">
			Stumbling through a field of experiments <br>
			3<sup>rd</sup> Year, B.Math., Indian Statistical Institute, Bengaluru Centre
		</p>

		<div class="flex flex-wrap justify-center gap-4">
			{socialData.map((social) => (
				<SocialButton 
				link={social.link} 
				icon={social.icon} 
				label={social.label} 
				/>
			))}
		</div>
	</main>
</BaseLayout>