---
import Navbar from "../components/NavBar.astro";
import "katex/dist/katex.min.css";

const brandName = "Shankha Suvra Dam";
const { pageTitle, frontmatter } = Astro.props;
const displayTitle = pageTitle || frontmatter?.title || "Title Mein Hagg Diya";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- This is for utilising the default favicon -->
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <!-- My own favicon >:)  -->
        <link rel="icon" type="image/svg+xml" href="/favicon_custom.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{displayTitle}</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
            integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvLMwVqD3y1o+"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <Navbar brandName={brandName} />
        <main class="max-w-5xl sm:px-12 mx-auto px-6 py-10 prose-catppuccin">
            <slot />
        </main>
    </body>
</html>
